*{
    padding: 0px;
    margin: 0px;
}
/* section-1 css start */
header{
    display: flex;
    background-color: rgb(163, 94, 104 ,50%);
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    gap:100px;
}
.section1-text1{
    color: rgb(27, 25, 23);
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 50px;
}
.section1-text2{
  color: black;
    font-size: 20px;
  font-weight: 500;
  margin-bottom: 14px;
}
.section1-button{
    height: 40px;
    width: 90px;
   color: white;
   background-color: #e8335a;
   border: none;
   padding:4px;
}
.section1-pic{
    width:535px;
height: 810px;

}
.section1-btn:hover{
    color: #753030;
}
/* section-1 css end */


/* section-2 css start */

.section2-container{
  
    width: 50%;
    background-color:white;
    margin-left: 350px;
    margin-top: 100px;
   
    text-align: center;
    
}
.section2-text1{
 color: black;
 font-weight: 800;
 font-size: 40px;
 margin-bottom: 9px;
}
.section2-text2{
    color: black;
    font-weight: 400;
    font-size: 18px;
}
/* section-2 css end */

/* section-3 css start */
.section3-container1{
    margin-top: 100px;
   
}

.section3-container2{
    display: flex;
 
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 30px;

}
.section3-pic1{
    background-color: rgba(167, 33, 98, 0.15);
    border: 2px solid rgb(231, 224, 224);
    border-radius: 300px 300px 0 0;
    width: 290px;
    height: 375px;
    padding: 50px 50px 0px 50px;

}
.section3-pic2{

background-color: rgba(5, 151, 160, 0.15);
    border: 2px solid rgb(231, 224, 224);
    border-radius: 300px 300px 0 0;
    width: 290px;
    height: 375px;
    padding: 50px 50px 0px 50px;
}
.section3-pic3{
    background-color: rgba(71, 125, 17, 0.15);
    border: 2px solid rgb(231, 224, 224);
    border-radius: 300px 300px 0 0;
    width: 290px;
    height: 375px;
    padding: 50px 50px 0px 50px;

}
.section3-texts{
    text-align: center;
    padding: 1px ;
    
    font-weight: 400;


}
/* section-3 css end */

/* section-4 css start */


.section4-container1{
    width: 60%;
    margin: auto;
    margin-top: 100px;
   background-color: #ada4e4;
   border-radius:70px;
}


.section4-container2{
    display: flex;
    text-align: center;
    justify-content: space-around;
    gap: 40px;
    
    
}
.section4-text{
    text-align: center;
    font-weight: 900;
    font-size: 70px;

    color: tomato;
    padding: 20px;
    
    
    

}

.section4-pics{
   width: 305px;
   height:300px ;
   margin-right: 10px;
   border-radius: 30px;
  box-shadow: 13px 13px 13px 13px rgb(215, 207, 207);
  
}
/* section-4 css end */

/* section-5 css start */
 
.section5-container1{
    width: 40%;
    margin: auto;
   
    margin-top: 120px;
}

.section5-container2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.section5-pics{
    width: 90px;
    height:90px;
    padding: 5px;
  
    align-items: center;
    
}
.section5-texts{
    align-items: center;
   
    color: rgb(17, 17, 16);
    padding: 2px;
    font-weight: 700;
    font-size: 14px;
}
/* section-5 css end */

/* section-6 css start */


.section6-container1{
    margin-top: 100px;
    background-image: url("../flower asset/gradient3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.section6-container2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section6-text1{
    font-weight: 800;

font-size: 30px;
margin-bottom: 10px;

}
.section6-text2{
    color: #cd2c4f;
}
.section6-text3{
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
}
.section6-pic{
    width: 318px;
height: 420px;
padding: 20px;
}

/* section-6 css end */

/* section-7 css start */

.section7-container{
    width: 40%;
    margin: auto;
    background-color: #f8f7f9;
    margin-top: 60px;
    border-radius: 20px;
}
.section7-text1{ 
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    padding: 2px;


}
.section7-text2{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    padding: 6px;
}

/* section-7 css end */

/* section-8 css start */

.section8-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top:90px ;
   
   
}
.section8-pics{
    width: 342px;
height: 396px;
border-radius: 30px;
padding: 4px;
background-color: hwb(180 21% 76% / 0.777);
}
 
/* section-8 css end */

/* section-9 css start */

.section9-container1{
    width: 1440px;
    height: 449px;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 250px;
   
    
    background-image: url("../flower asset/Rectangle\ 9.png");
background-repeat: no-repeat;

background-size: cover;
}
.section9-container2{
padding: 400px;

}
.section9-text1{
    font-weight: 800;
    font-size:40px;
    color: black;
    margin-bottom: 10px;
}
.section9-text2{
    font-weight: 400;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #27272799;
   margin-bottom: 10px;
}
.section9-input{
    width: 450px;
height: 55px;
border: none;
color: black;
padding: 5px;
margin-right: 10px;
}
.section9-button{
   width: 130px;
height:55px;
background-color: #E55473;
color: white;
padding: 7px;
border: none;

}
.section9-button:hover{
    color: rgb(42, 141, 141);
}

/* section-9 css end */

/* footer css start */
    
.footer-container{
    background-color: rgba(27, 8, 8, 0.36);
  width: 100%;
  margin: auto;
  height: 330px;
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 80px;


}
.footer-info{
margin-left: 370px;
}
.footertext-1{
    color: white;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 10px;
    
}
.footertext-2{
    color:#E55473 ;
}
.footertext-3{
    color: white;
    font-weight: 400;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
}
.footertext-4{
    color: white;
    font-weight: 400;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
}
/* footer css end */